In [3]:
row =5
star =5
space=0

for i in range(row):
    for j in range(star):
        print("* ",end="")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
n=int(input("ENTER THR NUMBER :"))
row=n
star=1
space=row-1

for i in range(row):    
    for j in range(space):
        print("  ",end="")
    for k in range(star):
        print("* ",end="")
    print()
    star+=2
    space-=1

                *
              * * *
            * * * * *
          * * * * * * *
        * * * * * * * * *
      * * * * * * * * * * *
    * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *

In [26]:
n=int(input("ENTER THR NUMBER :"))
row=n
star=row
space=0

for i in range(row):    
    for j in range(space):
        print("  ",end="")
    for k in range(star):
        print("* ",end="")
    print()
    star-=1
    space+=1

* * * * *
  * * * *
    * * *
      * *
        *

In [43]:
n=int(input("ENTER THR NUMBER :"))
row=n
star=row
space=0
num=1

for i in range(row):    
    for j in range(space):
        print("  ",end="")
    for k in range(star):
        print(num ,end=" ")
        num=num+1
    print()
    star-=1
    space+=1

1 2 3
  4 5
    6

In [ ]:
n=int(input("ENTER THR NUMBER :"))
row=n
star=1
space=row-1




for i in range(row):    
    for j in range(space):
        print("  ",end="")
    for k in range(star):
        print("* ",end="")
    print()
    star+=2
    space-=1

    *
  * * *
* * * * *